<div class="card">

  <%#= link_to image_tag(question.image,class: :card__img ), question_path(question.id),method: :get %>
  <div class="card__body">
    <%= link_to question.title, question_path(question.id),method: :get,class: :card__title %>
  
    <%= link_to "by "+ question.user.nickname, user_path(question.user.id),method: :get, class: :card__user %>
    
    <%#= link_to "by "+ question.user.nickname, user_path(question.user.id),method: :get, class: :card__user %>
  

  </div>
</div>