<div class="favorite__btn">
<% if @question.favorited_by?(current_user) %>
   <%= link_to question_favorite_path(@question), method: :DELETE do %>
   <i class="fa fa-heart"  style="color: red;"></i>
   <div class="like__btn"><%= @question.favorites.count %>like</div>
   <% end %>
<% else %>
  <%= link_to question_favorites_path(@question) , method: :POST do %>
  <i class="fa fa-heart-o" ></i>
  <div class="like__btn"><%= @question.favorites.count %>like</div>
  <% end %>
<% end %>
</div>
