<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="page-heading">
        <%= @user.nickname + "さんの投稿記事一覧"%>
      </div>
      <div class="card__wrapper">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>

        <%= render partial:"questions/question",collection: @questions%>
      
      </div>
    </div>
  </div>
</div>