<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="page-heading">
        <%= @user.nickname + "さんの投稿記事一覧"%>
      </div>
      <div class="card__wrapper">
              
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
       <% if user_signed_in? && current_user.id ==  @user.id %>
       <div class="page-heading">
       <%=link_to favorites_user_path(@user) ,method: :get do %>
         <i class="fa fa-heart"  style="color: red;"></i>した記事一覧
         <% end %>
         </div>
         <% end %>
        <%= render partial:"questions/question",collection: @questions%>

      </div>
    </div>
  </div>
</div>