/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;

}

a {
  text-decoration: none;
  color: #3b4043;
}
a:hover{
  text-decoration: none;
}

/* ヘッダー */
.sign_up__btn,.sign_in__btn{


  
}
.main{
  background-color: snow;
}
.header {
  background-color: #ffb6c1;

  padding: 20px 0;
  height: 80px;

}
.inner {
  width: 1024px;
  margin: 0 auto;

}
.nav {
  width: 100%;
  display: flex;
  justify-content:space-between;
}
.nav__left {
  width: 400px;
  transform: translate(200px, 0px);
}
.nav__right{
  transform: translate(200px, 0px);
}
.nav__btn{
  
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #3b4043;
  text-decoration: none;
  user-select: none;
  border: 1px #ff69b4 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  transform: translate(0px, 10px);
}
.nav__btn:hover{
  color: #fff;
  background: #ff69b4;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ff69b4;
  text-decoration: none;
  user-select: none;
  border: 1px #ff69b4 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  opacity: 0.5;
}

.layouts-search-btn{
height: 40px;
transform: translate(40px,-42px);
display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;

  text-decoration: none;
  user-select: none;
  border: 1px #ff69b4 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background-color: transparent;
    color: #3b4043;
}

.layouts-search-btn:hover{
  color: #fff;
  background: #ff69b4;
}

.layouts-search-input
{
  margin-left: 30px;
  width: 300px;
  height: 40px;
  transform: translate(40px,-42px);

}
.serach-layouts{
  min-height: calc(100vh - 161px);
}
/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}
.form__wrappe{
  min-height: calc(100vh - 161px);
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.form__title {
  border: 2px solid #ff69b4;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 40em;             /* 横幅 */
  height: 50px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
}

.form__tag{
  border: 2px solid #ff69b4;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 10em;             /* 横幅 */
  height: 50px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
}

.code__block{
margin-left: 30px;
margin-top: 55px;
}
.markdown__space{
  border: 2px solid #ff69b4;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 40em;             /* 横幅 */
  height: 400px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        
  box-sizing:border-box;
  overflow-y: auto; 
  margin-bottom: 30px;
}
.markdown__space.markdown {
  font-size: 1em;
}

.form__content{
  border: 2px solid #ff69b4;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  width: 40em;             /* 横幅 */
  height: 400px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;        /* 行の高さ */
  resize: none;
  box-sizing:border-box;
}
.nav__btn:hover{
  text-decoration: none;
}
.form__btn:hover{
  color: #fff;
}
.field{
  margin: 10px 0;
}

.action{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  background-color: #ffb6c1;
  text-decoration: none;
  user-select: none;
  
  border: 1px #ff69b4 solid;
  border-radius: 3px;
 
  transition: 0.2s ease;
}

.form__btn:hover {
  background-color: #ff69b4;
  cursor: pointer;
}

.preview{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: darkblue;
  border: 1px darkblue solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

}

/* メイン */
.sized {
  width: 20%;
  height: 80%;
}
.google a{
  transform: translate(-50px, -380px);
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  height: 60px;
}

.google a:after {
content: "";
position: absolute;
top: 50%;
bottom: 0;
right: 2rem;
font-size: 90%;
display: flex;
justify-content: center;
align-items: center;
transition: right 0.3s;
width: 6px;
height: 6px;
border-top: solid 2px currentColor;
border-right: solid 2px currentColor;
transform: translateY(-50%) rotate(45deg);
}
.google a:hover {
background: #ffb6c1;
color: #FFF;
}
.google a:hover:after {
right: 1.4rem;
}
.google-login a{
  transform: translate(-70px, -130px);
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  height: 60px;
}
.google-login a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
  }
  .google-login a:hover {
  background: #ffb6c1;
  color: #FFF;
  }
  .google-login a:hover:after {
  right: 1.4rem;
  }
.greeting{
  margin-bottom: 20px;
  margin-top: 20px;
}
.greeting__link{
  text-decoration: none;
  
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px));
  margin-bottom: 40px;
  text-decoration: none;

} 
.card:hover{
  text-decoration: none;
}
/* .card__img {
  margin-bottom: 16px;
} */
.card__title {
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ff69b4;
  text-decoration: none;
  user-select: none;
  border: 1px #ff69b4 solid;
  border-radius: 10px;
  transition: 0.4s ease;
  transform: translate(0px, 10px);
  height:150px;
  
}
.card__title:hover{
  
}

.card_bookmark{
  font-size: 25px;
  display: inline;
  margin-left: 20px;
  color: #3b4043;
}
.card_nickname{
  font-size:30px;
  display: inline;
  color: #3b4043;
}

.card_created{
  font-size: 15px;
  color: #3b4043;
}

.card_tag{
  display: inline;
  font-size: 25px;
  margin-left: 200px;
  color: #3b4043;

}
.card_favorite{
  display: inline;
  font-size: 25px;
  margin-left: 20px;
  color: #3b4043;
}
.card_title{
  font-size: 40px;
margin-top: 15px;
color: #3b4043;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.card_eye{
  display: inline;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-left: 20px;

}
.card_views{
  display: inline;
padding-bottom: 10px;
color: #3b4043;
}
/* .card__summary {
  font-size: 16px;
} */
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.rails_master__wrapper{
  min-height: calc(100vh - 161px);
  display: flex;
}
.favorite_bookmark_message{
  margin-top: 10px;
  font-size: large;
}
.create__name{
  width: 220px;
  margin-top: 20px;
  
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.comment__create{
font-size: small;
}
.comment__person{
  text-decoration: underline;
  font-size: medium;
}

/* .prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
} */

.detail{
  font-size: 20px;
  font-weight: bold;
}

.title__set{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.detail__message{
  font-size: 15px;
}
.create__edit_destroy{
  display: flex;
  padding-top: 16px;
  font-size: large;
 
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.comments__lists{
  margin-left: 10px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.comment__index{
  margin-left: 20px;
}
.comment__form{
  margin-left: 20px;
  border-radius: 10px;
  width: 47vw;
  height: 20vh;
  border-radius:10px;
  resize: none;
}

.question__comments{
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius:10px;
  word-break:break-all;
  margin-left:80px;
  width: 50vw;
  padding-bottom:40px;
  margin-bottom: 40px;
  display:block;

}

.comment__area{
  padding-left: 20px;
 
}

.comments_list{
  
  padding-bottom: 30px;
  padding-right: 20px;

}





.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
  margin-left: 320px;
}

.blog__content{
  display:inline-block;
  background:#fcfcff;
  padding:15px; 
  border:1px solid #3b5998;
  border-radius:10px;
  word-break:break-all;
  margin-left:80px;
  width: 50vw;
  padding-bottom:40px;
  margin-bottom: 40px;
  margin-top: 20px;

}
.title__set{
  display: flex;
}
.favorite__btn{
  font-size: 30px;
  display: inline;
  margin-right: 30px;
  
}
.bookmark__btn{

  font-size: 30px;
  display: inline;
}
.edit__btn{
  display: inline;
  font-size: 30px;
  margin-right: 20px;
}
.delete__btn{
  display: inline;
  font-size: 30px;
}
.like__btn{
  display: inline;
  font-size: large;
}
.tag__name{
  background-color: palevioletred;
  display: inline-block;
  padding: 0 10px;
  border:1px solid palevioletred;
  border-radius:10px;
}

.message__field{
  background:#fcfcff;
  width: 47vw;
  height: 20vh;
  border-radius:10px;
  resize: none;
  box-sizing:border-box;

}
.comment__index{
  font-weight: bold;
  font-size: large;
}
.comment__comment{
  padding-right: 20px;
}
.actions{
  margin-left: 580px;

  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #ff69b4 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background-color:#ffb6c1;
}
.actions:hover{
  color: #fff;
  background: #ff69b4;
}
.comment__font{
  font-weight: bold;
  font-size: large;
}
.content_box{
  display: block;
}

.detail__user{
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.book{
  margin-left: 20px;
  display: inline;
}
.iine{
  display: inline;
}

/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;

}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.detail__title{
  font-size: 60px;
  margin-right: 450px;
}
.detail__user
{
  display: block;
 font-size: 20px;
}
.nursing{
  width: 100%;
  height: 100%;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

.eye{
  width: 45px;
  height: 45px;
  transform: translate(-7px, 00px);
  display: inline;
  margin-bottom: 30px;
  margin-top: 15px;
}
.views{
  margin-top: 10px;
  font-size: 20px;
  display: inline;
}
